* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    justify-content: flex-end;
    
}

li {
    margin: 8px;
    padding: 16;
    list-style: none;
}


