* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

}

ul {
    display: flex;
    justify-content: left;
    text-decoration: none;
}

li {
    text-decoration: none;
    margin: 4px;
    padding: 16;
    background-origin: padding-box;
    border: 12px;
    list-style: none;

}
